<div class="row">
    <div class="col-md=3"></div>
    <div class="col-mid-8">
        <p><%=data["part1"]%></p>
    </div>
</div>
<br><br>

<div class="row">
    <div class="col-md=3"></div>
    <div class="col-mid-8">
        <p><%p=data["part2"]%></p>
    </div>
</div>
</div>
<br>

<div class="row">
    <p>
        <ul id="list">

            <li><%=data["li1"]%></li>
            <br>
            <li><%=data["li2"]%></li>
            <br>
            <li> <%=data["li3"]%></li>
            <br>
            <li><%=data["li4"]%>/li>

        </ul>
    </p>
</div>