<div class="row">
    <div class="col-md=3"></div>
    <div class="col-mid-8">
        <p><%=post["desc1"]%></p>
    </div>
</div>
<br><br>

<div class="row">
    <div class="col-md=3"></div>
    <div class="col-mid-8">
        <p><%p=post["desc2"]%></p>
    </div>
</div>
</div>
<br>

<div class="row">
    <p>
        <ul id="list">

            <li><%=post["l1"]%></li>
            <br>
            <li><%=post["l2"]%></li>
            <br>
            <li> <%=post["l3"]%></li>
            <br>
            <li><%=post["l4"]%>/li>

        </ul>
    </p>
</div>