 <div class="row">
            <div class="col-md-12">
                <h4 style="padding:10px;">Responses</h4>
                <div class="icon">
                    <i class="fa fa-comment-o icon"></i>
                </div>
                <div class="form">
                    <input type="text" value="Write a response...">
                </div>

                <hr>
            </div>
            <br>

            <h5><%=data["convo_group"]%></h5>

            <br><br><br>
        </div>
        <div class="row">
            <div class="container" id="c1">
                <br><br>
                <div class="row">
                    <div>
                        <img src="<%=data['image1']%>"</img>
                    </div>
                    <div>
                        <div>
                            <p>
                                <font color="skyblue"><%=data["auth1"]%></font>
                            </p>
                        </div>
                        <div>
                            <p><%=data["cmnt1_detail"]%></p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <p id="com1"><%=data["cmnt1_text"]%></p>

                </div>
                <div class="row" id="tag1">
                    <div id="clap">
                        <img src="https://img.icons8.com/ios/50/000000/applause.png">
                    </div>

                    <div id="numclap">
                        <p><%=data["cmnt1_clap_count"]%></p>
                    </div>
                    <div id="gap"></div>
                    <div id="response">
                        <p><%=data["cmnt1_reply_count"]%></p>
                    </div>

                    <div id="bookmark">

                        <i class="fa fa-bookmark-o"></i>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="container" id="c2">
                <br><br>
                <div class="row">
                    <div>
                        <img src="<%=data['image2']%>"></img>
                    </div>
                    <div>
                        <div>
                            <p>
                                <font color="skyblue"><%=data["auth2"]%></font>
                            </p>
                        </div>
                        <div>
                            <p><%=data["cmnt2_detail"]%></p>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <p><%=data["cmnt2_text"]%></p>
                </div>
                <div class="row" id="tag2">
                    <div id="clap1">
                        <img src="https://img.icons8.com/ios/50/000000/applause.png">
                    </div>
                    <div id="bookmark1">

                        <i class="fa fa-bookmark-o"></i>

                    </div>
                </div>
            </div>
        </div>